  .line-item {
      height: 30px;
      position: relative;
      width: 100%;
      border-radius: 9px;
      border: 1px solid green;
      color: #0f0;
      text-align: center;
      background-color: rgba(0,255,0, 0.3);
      padding-top: 2px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  .line-item > span {
    color: #fff;

  }
  .animation {
      animation: placeHolderShimmer 5s infinite cubic-bezier(.65, .05, .36, 1);
  }
  .red {
    color: #f00;
    border-color: #f00;
    background-color: rgba(255,0,0, 0.3);
  }
  .red > span {
    color: #fff;
  }
  @keyframes placeHolderShimmer{
  0%{
    opacity: .5;
    border: 1px dotted;
  }
  25%{
    opacity: .15;
    border: 1px dashed;

  }
  50% {
    opacity: 1;
    border: 1px solid;
  }
  75% {
    opacity: .15;
    border: 1px dashed;
  }
  100% {
    opacity: .5;
    border: 1px dotted;
   }
  }